<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>grid_view</title>
  <link href="http://fonts.googleapis.com/css?family=Raleway:500,400|Merriweather:400|Roboto:500" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/grid_view-grid.css">
  <link rel="stylesheet" href="css/grid_view.css">
</head>
<body class="body page-grid_view clearfix">
  <div class="header_bar">
    <div class="container">
      <div class="first_image first_image-1">
        <img class="image image-1" src="images/temperature1-65x46.png" data-rimage data-src="images/temperature1-65x46.png">
        <p class="text text-1">Thermostats</p>
      </div>
      <div class="first_image first_image-2">
        <%= image_tag("shield20-54x65.png", class: "image image-2", :"data-rimage" => nil) %>
        <p class="text text-2">Security</p>
      </div>
      <div class="first_image first_image-3">
        <img class="image image-3" src="images/light63-33x65.png" data-rimage data-src="images/light63-33x65.png">
        <p class="text text-3">Light&nbsp;Fixtures</p>
      </div>
      <div class="first_image first_image-4">
        <p class="text text-4">Kitchen Appliances</p>
        <img class="image image-4" src="images/blender2-34x65.png" data-rimage data-src="images/blender2-34x65.png">
      </div>
    </div>
  </div>
  <img class="image image-5" src="images/hero_bolt_connect-303x355.png" data-rimage data-src="images/hero_bolt_connect-303x355.png">
  <div class="element clearfix">
    <img class="image" src="images/nest-stock-image-1-383x383.png" data-rimage data-src="images/nest-stock-image-1-383x383.png">

    <script type="text/javascript"
        src="https://www.simplify.com/commerce/simplify.pay.js"></script>
        <script type="text/javascript" src="https://www.simplify.com/commerce/v1/simplify.js"></script>


    <div class="container container-2 clearfix">
      <p class="text text-5">Nest</p>
      <p class="text text-6">Energy saving. Aesthetically pleasing.</p>

      <button class="_button _button-1"
      data-sc-key="sbpb_NjM0YjI2OGItZGUxOC00OWYwLTg1ZWMtODk4NjQ2MGVmNzQz"
        data-name="Nest Thermostat"
        data-description="Energy saving. Aesthetically pleasing."
        data-reference="99999"
        data-amount="39999"
        data-color="#38A4DD"
        data-masterpass="true"
      >&nbsp;Buy &gt;</button>
    </div>


    
    <div class="container container-3">
      <button class="_button _button-2" 
      data-sc-key="sbpb_NjM0YjI2OGItZGUxOC00OWYwLTg1ZWMtODk4NjQ2MGVmNzQz"
        data-name="Schlage Smart Lock"
        data-description="Intelligent secuirty. Real certainty. Keyless."
        data-reference="99999"
        data-amount="39999"
        data-color="#38A4DD"
        data-masterpass="true"
        >&nbsp;Buy &gt;</button>


      <p class="text text-7">Intelligent secuirty. Real certainty. Keyless.</p>
      <p class="text text-8">Schlage Lock<br></p>
    </div>
  </div>

  <script src="js/jquery-min.js"></script>
  <script src="js/rimages.js"></script>
</body>
</html>